* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffabc7;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 2em;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    margin: 0.2em 0em 4em;
}

.title, .home-link {
    color: #ecf0f1;
    text-decoration: none;
}

.title {
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.home-link {
    font-size: 1em;
}

.title:hover, .home-link:hover{
    color: white;
}
/* 
.member-div-wrapper {
    display: flex;
    align-items: stretch;
    background-color: #34495e;
    margin: 2em;
    border-radius: 2em;
}

.member-wrapper {
    margin: 2em;
    border-radius: 2em;
    background-color: #ecf0f1;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    color: #444444;
    transition: background 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.member-wrapper:hover {
    background-color: #2980b9;
    flex: 2;
    color: #ecf0f1;
}

.member-wrapper:hover .member-picture {
    filter: none;
}

.member-picture {
    width: 50%;
    height: auto;
    padding: 1em;
    filter: grayscale(30%);
}

.member-name {
    font-weight: 300;
    font-size: 2.5em;
    text-align: center;
    padding: 0.2em;
}

.member-text {
    margin: 1em;
    font-weight: 200;
    font-size: 1em;
    text-align: center;
} */
