* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffa6c3;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    height: 5vh;
    padding: 1em;
    align-items: center;
    justify-content: space-between;
    margin: 0.2em 0em 4em;
}

.title, .home-link {
    color: #ecf0f1;
    text-decoration: none;
}

.title {
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 2px;
}

.home-link {
    font-size: 1em;
}

.title:hover, .home-link:hover{
    color: white;
}

.slime-chan-handler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 95vh; */
}

.slime-chan-1 {
    max-width: 80%;
    height: auto;
}

.click-me {
    text-decoration: none;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 2em;
    outline: none;
    background-color: #ffccdc;
    border-style: solid;
    border-color: #ff8cb3;
    border-radius: 0.3em;
    color: #bf3fb3;
    padding: 0.2em;
}

.click-me:hover {
    cursor: pointer;
    filter: saturate(1.5);
}